@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */

html,
body {
  touch-action: manipulation;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@viewport {
  zoom: 1.0;
  width: device-width;
}

